<p id="notice"><%= notice %></p>

<h1>Herroos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Apelido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @herroos.each do |herroo| %>
      <tr>
        <td><%= herroo.nome %></td>
        <td><%= herroo.apelido %></td>
        <td><%= link_to 'Show', herroo %></td>
        <td><%= link_to 'Edit', edit_herroo_path(herroo) %></td>
        <td><%= link_to 'Destroy', herroo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Herroo', new_herroo_path %>
