<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @herroo.nome %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @herroo.apelido %>
</p>

<%= link_to 'Edit', edit_herroo_path(@herroo) %> |
<%= link_to 'Back', herroos_path %>
